.ListBox {
    position: relative;
}

.trigger {
    background: none;
    border: 0;
    outline-color: transparent;
    padding: 0;
    margin: 0;
}

.options {
    position: absolute;
    z-index: 1000;
    background: var(--list-box-bg);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--list-box-bg);
    min-width: 100%;
}

.item {
    padding: 10px 20px;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}

.optionsTop {
    bottom: 100%;
}
